:root{
    --bg-color:#080808;
    --second-bg-color:#101010;
    --text-color:white;
    --main-color:#ea580c;

}


.heading{ 
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
    margin-top: -5rem;
}
.services{
    background-color: var(--bg-color);
    color: black;
}

.services h2{
    color: var(--text-color);
} 

.service-container{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
   

}
.service-info{
    display: flex;
    flex-direction: column;
    text-align:center ;
    justify-content: center;
    align-items: center;
    padding: 5rem ;

   
}

.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.4px;
    white-space: normal;
}

.service-info i{
    font-size: 8rem;
}



.service-box{
    
    width: 300px;
    background: var(--main-color);
    min-height: 400px;
    border-radius: 3rem;
    /* cursor: pointer; */
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
    margin: 10px;
   
}

.service-box:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
